.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.btn {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid black;
  background-color: gray;
  color: black;
  border-radius: 5px;
}

.btn:hover {
  background-color: black;
  color: gray;
}
