.header {
  max-width: 60rem;
  width: 100%;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  flex-shrink: 1;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
  padding: 5px;
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}

.logout {
  cursor: pointer;
  padding: 5px;
}
.logout:hover {
  transform: scale(1.2);
  transition: transform 100ms ease-in-out;
}
